@import "tailwindcss";

@layer base {
  body {
    background-color: #f3f4f6;
    color: #111827;
  }
}
@layer components {
  .container {
    @apply flex flex-col items-center justify-start border border-gray-200 rounded-lg shadow-md p-6;
  }
  .input {
    @apply w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
  .button {
    @apply bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}